flows/tools/.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1766044654898,
    "description" : "",
    "identifier" : "",
    "lastModifiedTimestamp" : 1766044654898,
    "name" : "标准化字段",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "301c938a-019b-1000-44a1-53d048da0984",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5ed9cb24-fd67-3fec-a8f6-d31d3894275a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "原理是将 FlowFile 中的数据临时映射成一张“虚拟表”，然后对这张表执行查询，查询的结果会被写入成一个新的 FlowFile。它不会原地修改原始数据。",
        "groupId" : "flow-contents-group",
        "id" : "301c9387-019b-1000-dbda-5cc521e9e94c",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "原理是将 FlowFile 中的数据临时映射成一张“虚拟表”，然后对这张表执行查询，查询的结果会被写入成一个新的 FlowFile。它不会原地修改原始数据。",
        "groupId" : "flow-contents-group",
        "id" : "301c9387-019b-1000-dbda-5cc521e9e94c",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7b361e2a-78d3-32e9-8884-d1e44e229b55",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "本PG进入时就会按照Schema进行转换类型",
        "groupId" : "flow-contents-group",
        "id" : "301c9388-019b-1000-4e82-473696494bf3",
        "name" : "JsonInput",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "301c9389-019b-1000-06d2-fdc89b0854ec",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b46580b1-5afc-32c4-98df-4a36dff1c2e6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ae935c11-1158-37de-93d2-49c2ff225cc6",
        "name" : "UpdateRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ae935c11-1158-37de-93d2-49c2ff225cc6",
        "name" : "UpdateRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bcc8952a-959b-3af8-b1d4-d30996ec33e9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "filter_and_calc" ],
      "source" : {
        "comments" : "原理是将 FlowFile 中的数据临时映射成一张“虚拟表”，然后对这张表执行查询，查询的结果会被写入成一个新的 FlowFile。它不会原地修改原始数据。",
        "groupId" : "flow-contents-group",
        "id" : "301c9387-019b-1000-dbda-5cc521e9e94c",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-registry-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "31291c0b-f30c-3fd4-be36-9b5f5236709e",
      "name" : "AvroSchemaRegistry",
      "properties" : {
        "avro-reg-validated-field-names" : "true",
        "user_record_schema" : "{\n  \"type\": \"record\",\n  \"name\": \"UserRecord\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": \"int\" },\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"age\", \"type\": \"int\" },\n    { \"name\": \"gender\", \"type\": \"string\" },\n    { \"name\": \"create_time\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"account_balance\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"category\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"phone\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"email\", \"type\": [\"null\", \"string\"] }\n  ]\n}"
      },
      "propertyDescriptors" : {
        "avro-reg-validated-field-names" : {
          "displayName" : "Validate Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "avro-reg-validated-field-names",
          "sensitive" : false
        },
        "user_record_schema" : {
          "displayName" : "user_record_schema",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "user_record_schema",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "597830cd-2adf-37c8-8475-6513f913c37b",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d58db16f-3083-3f89-869d-994891ba0a81",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "user_record_schema",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-registry" : "31291c0b-f30c-3fd4-be36-9b5f5236709e",
        "schema-access-strategy" : "schema-name",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "301c938a-019b-1000-44a1-53d048da0984",
      "position" : {
        "x" : -536.0,
        "y" : 280.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ {
      "allowRemoteAccess" : false,
      "comments" : "本PG进入时就会按照Schema进行转换类型",
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "301c9388-019b-1000-4e82-473696494bf3",
      "name" : "JsonInput",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : -928.0,
        "y" : -232.0
      },
      "scheduledState" : "ENABLED",
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "80e3ff01-98cc-3f33-9a2b-d9ffa1c44193",
      "label" : "数据转换\n1、email和phone的保密\n2、性别标准化",
      "position" : {
        "x" : 192.0,
        "y" : -56.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "9aa1dfb7-58b9-3f0d-964d-573d11fef323",
      "label" : "过滤不正常的值",
      "position" : {
        "x" : -504.0,
        "y" : -24.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 1
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "字段标准化",
    "outputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "301c9389-019b-1000-06d2-fdc89b0854ec",
      "name" : "output",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 816.0,
        "y" : 40.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    } ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "原理是将 FlowFile 中的数据临时映射成一张“虚拟表”，然后对这张表执行查询，查询的结果会被写入成一个新的 FlowFile。它不会原地修改原始数据。",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "301c9387-019b-1000-dbda-5cc521e9e94c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "QueryRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -688.0,
        "y" : 8.0
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "record-writer" : "597830cd-2adf-37c8-8475-6513f913c37b",
        "record-reader" : "d58db16f-3083-3f89-869d-994891ba0a81",
        "include-zero-record-flowfiles" : "true",
        "dbf-default-scale" : "0",
        "filter_and_calc" : "SELECT * FROM FLOWFILE WHERE age > 0 AND age < 150 AND account_balance >= 0"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "filter_and_calc" : {
          "displayName" : "filter_and_calc",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filter_and_calc",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ae935c11-1158-37de-93d2-49c2ff225cc6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 0.0,
        "y" : 0.0
      },
      "properties" : {
        "/phone" : "${field.value:replaceAll('(\\\\d{3})\\\\d{4}(\\\\d{4})', '$1****$2')}",
        "Record Writer" : "597830cd-2adf-37c8-8475-6513f913c37b",
        "Record Reader" : "d58db16f-3083-3f89-869d-994891ba0a81",
        "/gender" : "${field.value:replace('Male', 'M')}",
        "/email" : "${field.value:replaceAll('(^[^@]{3})[^@]+(@.*$)', '$1****$2')}",
        "Replacement Value Strategy" : "literal-value"
      },
      "propertyDescriptors" : {
        "/phone" : {
          "displayName" : "/phone",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "/phone",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "/gender" : {
          "displayName" : "/gender",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "/gender",
          "sensitive" : false
        },
        "/email" : {
          "displayName" : "/email",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "/email",
          "sensitive" : false
        },
        "Replacement Value Strategy" : {
          "displayName" : "Replacement Value Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.UpdateRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "",
    "timestamp" : 1766044656583
  }
}